* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  transition: all 0.5s linear;
  list-style: none;
}

body {
  color: white;
  background-color: #020202;
}

/* header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #020202;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
}

.logo img {
  width: 160px;
  animation: slideRight 1s ease forwards;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header .navbar a {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding: 0px 1rem;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.header .navbar a:hover {
  color: #f0a6ca;
}

.header .bar-container {
  display: none;
}

.header .bar-container .bar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f0a6ca;
  color: #f0a6ca;
  border-radius: 50%;
  background-color: transparent;
  font-size: 1.4rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.header .bar-container .bar-btn:hover {
  background-color: #f0a6ca;
  color: #020202;
  box-shadow: 0px 0px 20px #f0a6ca;
}

/* home */

#home {
  position: relative;
  top: 0px;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #020202;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  margin-top: 3rem;
}

.home-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-content .h3 {
  font-size: 2rem;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content .name {
  font-size: 3.2rem;
  font-weight: 700;
  margin: -3px 0px;
  color: #f0a6ca;
  opacity: 0;
  animation-delay: 1s;
  animation: slideRight 1s ease forwards;
}

.home-content .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  animation: slideBottom 1s ease forwards;
}

.home-content .wrapper .static-txt {
  font-size: 2rem;
  font-weight: 700;
}

.home-content .wrapper .dynamic-txt {
  margin-left: 1.5rem;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.home-content .wrapper .dynamic-txt li {
  font-size: 2rem;
  font-weight: 700;
  color: #f0a6ca;
  position: relative;
  top: 0px;
  animation: slide 12s steps(4) infinite;
}

.home-content .wrapper .dynamic-txt li .spans {
  height: 80px;
  line-height: 80px;
  position: relative;
}

.dynamic-txt li .spans::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #020202;
  overflow: hidden;
  animation: typing 3s steps(20) infinite;
}

.home-content .home-para {
  font-size: 1.2rem;
  height: 25px;
  line-height: 25px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  margin-bottom: 1rem;
}

.home-content .home-sci {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem 0px;
}

.home-sci a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #f0a6ca;
  background: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #f0a6ca;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.2s;
}

.home-sci a:hover {
  background-color: #f0a6ca;
  color: #020202;
  box-shadow: 0px 0px 20px #f0a6ca;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.7s;
}

.home-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 28px;
  background-color: #f0a6ca;
  border-radius: 20px;
  color: #020202;
  box-shadow: 0px 0px 30px #f0a6ca;
  border: 2px solid #f0a6ca;
}

.home-btn:hover {
  box-shadow: 0px 0px 60px #f0a6ca;
  background-color: transparent;
  color: #f0a6ca;
}

.home-dp {
  width: 40%;
}

.dp-container,
.dp-container img {
  width: 100%;
  height: 100%;
}

/* about */

#about {
  margin: 0;
  padding: 4rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  gap: 3rem;
}

#about h2 {
  font-size: 3rem;
  animation-delay: 1s;
  animation: slideBottom 1s ease forwards;
  text-align: center;
}

#about h2 span {
  color: #f0a6ca;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
  padding: 0px 4rem;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.2s;
}

.about-img img {
  height: 100%;
  width: 100%;
}

.about-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-content h4 {
  font-size: 2rem;
  animation: slideTop 1s ease forwards;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 22px;
  animation: slideLeft 1s ease forwards;
}

.skill-container {
  width: 70%;
  align-self: flex-start;
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skill-container h4 {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
}

.skill-container h4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: #f0a6ca;
}

.skill-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.85rem;
  margin-top: 1rem;
}

.skill-list a {
  border: 2px solid #f0a6ca;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  text-decoration: none;
  color: #f0a6ca;
  background-color: transparent;
  font-size: 1.1rem;
}

.about-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 28px;
  background-color: #f0a6ca;
  border-radius: 20px;
  color: #020202;
  box-shadow: 0px 0px 30px #f0a6ca;
  margin: 1rem 0px;
  border: 2px solid #f0a6ca;
}

.about-btn:hover {
  box-shadow: 0px 0px 60px #f0a6ca;
  background-color: transparent;
  color: #f0a6ca;
}

/* service section */

#service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  padding: 4rem 0px;
}

#service .sub-title {
  font-size: 3rem;
  text-align: center;
}

.sub-title span {
  color: #f0a6ca;
}

.service-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service-container .service-list {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.service-list .service-box {
  background-color: transparent;
  font-size: 0.85rem;
  border-radius: 20px;
  transition: background-color 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #f0a6ca, 1px 1px 30px #f0a6ca;
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  width: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.service-list .service-box i {
  color: #f0a6ca;
  font-size: 3rem;
}

.service-list .service-box h2 {
  font-size: 1.5rem;
}

.service-box p {
  font-size: 0.85rem;
  line-height: 18px;
}

.read {
  text-decoration: none;
  font-size: 0.85rem;
  display: inline-block;
  background-color: #f0a6ca;
  color: #020202;
  padding: 12px 28px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px #f0a6ca;
  border: 2px solid #f0a6ca;
  animation: slideTop 1s ease forwards;
  opacity: 0;
}

.read:hover {
  background-color: transparent;
  color: #f0a6ca;
  box-shadow: 0px 0px 20px #f0a6ca;
}

.service-list .service-box:hover {
  transform: translateY(-10px);
}

/* projects section */

#project {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0px;
  margin: 0px;
}

/* project btn */

.projectBtnContainer {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

.projectBtnContainer .codeBtn,
.projectBtnContainer .cmsBtn {
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 25px;
  color: #020202;
  box-shadow: 0 5px 15px rgba(240, 166, 202, 0.4);
  border: 2px solid #ff77a9;
  border-radius: 8px;
  background: linear-gradient(45deg, #f0a6ca, #ff77a9);
  transition: all 0.3s ease;
}

.cms.hide {
  display: none;
}

.cms.active {
  display: block;
}

.code.hide {
  display: none;
}

.code.active {
  display: block;
}

.projectBtnContainer .codeBtn.hide {
  box-shadow: 0 5px 15px rgba(240, 166, 202, 0.4);
}

.projectBtnContainer .codeBtn:hover,
.projectBtnContainer .codeBtn.active {
  background: linear-gradient(45deg, #ff77a9, #f0a6ca);
  border-color: #f06292;
  box-shadow: 0 0 10px #ff77a9, 0 0 20px #f06292;
  color: white;
}

.projectBtnContainer .cmsBtn.hide {
  box-shadow: 0 5px 15px rgba(240, 166, 202, 0.4);
}

.projectBtnContainer .cmsBtn:hover,
.projectBtnContainer .cmsBtn.active {
  background: linear-gradient(45deg, #ff77a9, #f0a6ca);
  border-color: #f06292;
  box-shadow: 0 0 10px #ff77a9, 0 0 20px #f06292;
  color: white;
}

/* project head */

.project-head {
  font-size: 3rem;
}

.project-head span {
  color: #f0a6ca;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.project-list {
  position: relative;
  top: 0;
  left: 0px;
  width: 30%;
  height: 200px;
  margin: 0.5rem 0;
  border-radius: 20px;
  overflow: hidden;
  animation: slideTop 1s ease forwards;
}

.project-list a {
  text-decoration: none;
  border-radius: 20px;
  color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.project-list a .project-hover {
  position: absolute;
  left: 0px;
  top: -100%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(240, 166, 202, 0.9);
  z-index: 500;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 2rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.project-hover h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-hover p {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.2rem;
}

.project-list:hover .project-hover {
  top: 0px;
}

.project-list a img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  position: relative;
}

/* contact */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  gap: 2rem;
  padding: 4rem 0px;
}

#contact h2 {
  font-size: 3rem;
}

#contact h2 span {
  color: #f0a6ca;
}

.contact-sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-form {
  gap: 1.85rem;
  width: 60%;
  padding: 2rem 5rem 4rem 5rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 10px white;
}

.contact-form h3 {
  text-align: center;
  font-size: 2rem;
}

.contact-form input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  outline: none;
  border: none;
}

.contact-form button {
  background-color: #f0a6ca;
  font-size: 1.3rem;
  padding: 1rem 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #f0a6ca;
  transition: all 0.2s linear;
}

.contact-form button:hover {
  box-shadow: 0px 0px 30px #f0a6ca;
}

/* footer */

footer {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.newsletter-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 2rem 0px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.newsletter-container h3 {
  font-size: 1.5rem;
}

.newsletter-container h3 span {
  color: #f0a6ca;
}

.newsletter-div {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
}

.newsletter-div button {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  background-color: #f0a6ca;
  box-shadow: 0px 0px 10px #f0a6ca;
  color: #020202;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.newsletter-div button:hover {
  box-shadow: 0px 0px 20px #f0a6ca;
}

.newsletter-div input {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}

.copyright-container {
  border-top: 2px solid white;
  width: 100%;
  padding: 1rem 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.copyright-container span {
  color: #f0a6ca;
}

.copyright-container p {
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  height: 25px;
  line-height: 25px;
}

/* keyframes */

/* logo, name */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* home para */

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(-0px);
  }
}

/* span::after */

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0px 45px;
  }
}

/* li */

@keyframes slide {
  100% {
    top: -400%;
  }
}

/* navbar menu */
/* it moves towards the top */

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* h3, ul's parent */
/* it moves towards the bottom */

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* media queries */

/* about */

@media (max-width: 1185px) {
  .about {
    padding: 0px 2rem;
  }

  .about-img {
    width: 40%;
    height: 535px;
  }

  .about-content {
    width: 60%;
  }
}

@media (max-width: 1117px) {
  .service-list .service-box h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 935px) {
  .about-content h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .about {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .about-content p {
    font-size: 1rem;
  }
}

@media (max-width: 840px) {
  .about {
    gap: 1rem;
    padding: 1rem;
  }

  .about-img {
    width: 35%;
  }

  .about-content {
    width: 65%;
  }
}

/* service */

@media (max-width: 1076px) {
  .service-container .service-list .service-box h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 928px) {
  .service-list .service-box {
    width: 40%;
  }

  .project-list {
    width: 40%;
  }
}

/* navbar */

@media (max-width: 1039px) {
  .header {
    justify-content: space-evenly;
    margin-bottom: 50rem;
  }
}

@media (max-width: 995px) {
  .navbar {
    margin-left: 5rem;
  }
}

@media (max-width: 780px) {
  .newsletter-div {
    width: 75%;
  }
}

@media (max-width: 760px) {
  .header .bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    justify-content: space-around;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0px;
    margin-left: 0px;
    background-color: rgba(2, 2, 2, 0.95);
    display: none;
  }

  .navbar.active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: slide-in 1s ease forwards;
    width: 100%;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .navbar.not-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    animation: slide-out 1s ease forwards;
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .header .navbar a {
    color: white;
    margin: 0.25rem 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .header .navbar a:hover {
    color: #f0a6ca;
    text-shadow: 0px 0px 20px #fff;
  }
}

/* home */

@media (max-width: 955px) {
  .home {
    padding: 3rem 1rem;
  }

  .home-content .h3 {
    font-size: 1.6rem;
  }

  .home-content .name {
    font-size: 2.5rem;
  }

  .home-content .wrapper {
    margin-bottom: 0.5rem;
  }

  .home-content .wrapper .static-txt {
    font-size: 1.6rem;
  }

  .home-content .wrapper .dynamic-txt {
    margin-left: 1rem;
    height: 40px;
    line-height: 40px;
  }

  .home-content .wrapper .dynamic-txt li {
    font-size: 1.6rem;
  }

  .home-content .wrapper .dynamic-txt li .spans {
    height: 40px;
    line-height: 40px;
  }

  .dynamic-txt li .spans::after {
    height: 40px;
    line-height: 40px;
  }

  .home-content .home-para {
    font-size: 1.1rem;
    height: 22px;
    line-height: 22px;
    margin-bottom: 0.5rem;
  }

  .home-content .home-sci {
    gap: 0.85rem;
    margin: 3rem 0px;
  }

  .home-sci a {
    font-size: 1.1rem;
  }

  .home-btn {
    padding: 8px 15px;
  }
}

@media (max-width: 855px) {
  .projectBtnContainer {
    width: 80%;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 2rem 1rem;
  }

  .home-content {
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }

  .home-dp {
    width: 60%;
  }

  .about {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
  }

  .about .about-img {
    width: 50%;
    height: auto;
  }

  .about .about-content {
    width: 90%;
    margin: 2rem 0px;
  }

  .about-img img {
    width: 100%;
    height: 100%;
  }

  .skill-container {
    margin: 1.5rem 0px;
    align-self: center;
  }

  .service-container .service-list {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0px;
    flex-wrap: nowrap;
  }

  .service-container .service-list .service-box {
    padding: 1rem;
    gap: 1.5rem;
    width: 80%;
  }

  .project-container {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0px 2rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .project-container .project-list {
    width: 90%;
    height: 200px;
    margin: 0.5rem 0;
  }

  .contact-form {
    width: 85%;
  }
}

@media (max-width: 690px) {
  .about .about-img {
    width: 50%;
  }

  .about .about-content {
    width: 100%;
    padding: 0px 1.5rem;
  }

  #about {
    gap: 2rem;
  }

  .about .about-content {
    margin: 0.85rem 0px;
  }
}

@media (max-width: 560px) {
  .home-content {
    width: 95%;
  }

  .home-dp {
    width: 80%;
  }

  .contact-form {
    padding: 2rem 3rem 3rem 3rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 10px white;
  }
}

@media (max-width: 530px) {
  .newsletter-div {
    width: 85%;
  }
}

@media (max-width: 495px) {
  #about h2 {
    font-size: 2.2rem;
  }

  #service .sub-title {
    font-size: 2.2rem;
  }

  #project .project-head {
    font-size: 2.2rem;
  }

  #contact h2 {
    font-size: 2.2rem;
  }

  .contact-form h3 {
    font-size: 25px;
  }

  .about-content p {
    line-height: 20px;
  }

  .skill-container {
    width: 85%;
  }

  .projectBtnContainer {
    width: 100%;
  }

  .projectBtnContainer .codeBtn,
  .projectBtnContainer .cmsBtn {
    font-size: 15px;
    padding: 5px 25px;
  }
}

@media (max-width: 465px) {
  .home {
    padding: 2rem 1rem;
  }

  .home-content .h3 {
    font-size: 1.3rem;
  }

  .home-content .name {
    font-size: 2rem;
  }

  .home-content .wrapper {
    margin-bottom: 1rem;
  }

  .home-content .wrapper .static-txt {
    font-size: 1.3rem;
  }

  .home-content .wrapper .dynamic-txt {
    margin-left: 0.85rem;
    height: 30px;
    line-height: 30px;
  }

  .home-content .wrapper .dynamic-txt li {
    font-size: 1.3rem;
  }

  .home-content .wrapper .dynamic-txt li .spans {
    height: 30px;
    line-height: 30px;
  }

  .dynamic-txt li .spans::after {
    height: 30px;
    line-height: 30px;
  }

  .home-content .home-para {
    font-size: 1rem;
    height: 20px;
    line-height: 20px;
    margin-bottom: 1rem;
  }

  .home-content .home-sci {
    margin: 2rem 0px;
  }

  .home-sci a {
    font-size: 1rem;
  }

  .home-btn {
    padding: 8px 15px;
  }

  .service-container .service-list .service-box {
    width: 90%;
  }

  #project {
    gap: 3rem;
  }

  .project-container {
    gap: 1rem;
    padding: 0px 0.85rem;
  }

  .project-container .project-list {
    margin: 0.2rem 0;
    width: 95%;
  }

  .contact-form {
    padding: 1.5rem 2rem 2.5rem 2rem;
  }

  .contact-form button {
    padding: 0.65rem 0px;
  }
}

@media (max-width: 425px) {
  .newsletter-div button {
    padding: 0.5rem 0.85rem;
    font-size: 1.1rem;
  }

  .newsletter-div {
    width: 90%;
  }
}

@media (max-width: 388px) {
  .home-content {
    width: 100%;
  }

  .home {
    padding: 2rem 1.5rem;
  }

  .home-content .h3 {
    font-size: 1.1rem;
  }

  .home-content .wrapper .static-txt {
    font-size: 1.1rem;
  }

  .home-content .wrapper .dynamic-txt {
    margin-left: 0.5rem;
    height: 25px;
    line-height: 25px;
  }

  .home-content .wrapper .dynamic-txt li {
    font-size: 1.1rem;
  }

  .home-content .wrapper .dynamic-txt li .spans {
    height: 25px;
    line-height: 25px;
  }

  .dynamic-txt li .spans::after {
    height: 25px;
    line-height: 25px;
  }

  .home-content .home-para {
    margin-bottom: 3rem;
  }

  .about-content .h4 {
    font-size: 1.1rem;
  }

  .about .skill-container {
    width: 95%;
  }

  .about .skill-container h4 {
    font-size: 1.1rem;
  }

  .skill-list {
    gap: 0.5rem;
  }

  .skill-list a {
    padding: 5px 8px;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .about .about-content p {
    font-size: 14px;
  }

  .about .about-content h4 {
    font-size: 17px;
  }

  .about .skill-container h4 {
    font-size: 15px;
  }

  .about .skill-list a {
    font-size: 14px;
  }

  .about-content .about-btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  .copyright-container p {
    font-size: 1rem;
  }
}

@media (max-width: 334px) {
  .home-content .home-para {
    margin-bottom: 5rem;
  }

  .home-btn {
    font-size: 0.8rem;
    padding: 5px 8px;
  }

  .home {
    padding: 1.2rem 0.85rem;
  }

  .home-content .h3 {
    font-size: 0.8rem;
  }

  .home-content .wrapper .static-txt {
    font-size: 0.8rem;
  }

  .home-content .wrapper .dynamic-txt {
    margin-left: 0.2rem;
    height: 20px;
    line-height: 20px;
  }

  .home-content .wrapper .dynamic-txt li {
    font-size: 0.8rem;
  }

  .home-content .wrapper .dynamic-txt li .spans {
    height: 20px;
    line-height: 20px;
  }

  .dynamic-txt li .spans::after {
    height: 20px;
    line-height: 20px;
  }

  .home-content .name {
    font-size: 1.5rem;
  }

  .home-content .home-para {
    font-size: 0.85rem;
    height: 18px;
    line-height: 18px;
  }

  .home-content .home-sci {
    margin: 0 0px 2rem 0p;
  }

  .home-sci a {
    font-size: 0.85rem;
    height: 25px;
    width: 25px;
  }

  .home-btn {
    padding: 8px 15px;
  }

  .home-content .home-para {
    margin-bottom: 2rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contact-form button {
    font-size: 18px;
    padding: 8px 0px;
  }

  .newsletter-container h3 {
    font-size: 1.3rem;
  }

  .projectBtnContainer {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 304px) {
  .service-container .service-list .service-box h2 {
    font-size: 15px;
  }
}

@media (max-width: 290px) {
  #project .project-head {
    font-size: 1.5rem;
  }

  .copyright-container p {
    font-size: 0.85rem;
  }

  .contact-form input {
    font-size: 0.85rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .contact-form button {
    font-size: 15px;
    padding: 5px 0px;
  }
}

@media (max-width: 284px) {
  .newsletter-container h3 {
    font-size: 1.1rem;
  }
}
